[submodule "mpv"]
	path = mpv
	url = https://github.com/mpv-player/mpv.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
[submodule "libass"]
	path = libass
	url = https://code.google.com/p/libass/

