#! /usr/bin/make -f

%:
	exec dh $@ --parallel

override_dh_auto_build:
	scripts/ffmpeg-config
	scripts/ffmpeg-build
	scripts/libass-config
	scripts/libass-build
	scripts/mpv-config --prefix=/usr
	scripts/mpv-build

